# ambiente virtual
.venv/

# segredos
.env

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# dbt
target/
dbt_packages/
logs/

# dados (baixados ou gerados via script, não versionados)
*.csv
*.duckdb
*.parquet

.user.yml

notebooks/exploration.ipynb